body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0 20px;
}

main {
    text-align: center;
    margin: 0 auto;

}

p {
    text-align: center;
    padding: 0 20px;
}

.box {
    border: solid 1px;
    background: #ccc;
    padding: 10px;
    width: 1000px;
    margin: 10px auto;
}

code {
    color: firebrick;
}

input {
    margin: 4px;
}