<!DOCTYPE html><html lang="pt-br">

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css\reset.css">
      <link rel="stylesheet" href="css\padrao.css">
      <link rel="stylesheet" href="css\cssLogin.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
      <script src="C:\Users\Ale\Documents\GitHub\easyfin\Js\fazerLogin\login.js"></script>

</head>
  <body class="corpo">
    <header class="cabecalho">
        <h1 class="tituloPrincipal" > EasyFin  </h1>
          <nav class="tituloSecundario">

            <h2 >Log-in</h2>

          </nav>
    </header>
  <main class="mainBody">
    <div class="areaDoLogin">
      <label class="charEmail" for="emailUsuario" > Email </label>
      <input type="text" class="emailUsuario"  required placeholder="exemplo@hotmail.com">

      <label class="charSenha" for="senha"> Senha </label>
      <input type="password" class="senha" required placeholder="Senha">

      <button  class="botaoSubmit" onclick="validaUsuario()"></button>


    </div>


  </main>
  <footer class="rodape">


  </footer>

  


  </body>
